#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    animation: beat 1s infinite alternate;
    transform-origin: center;
    filter: drop-shadow(0 0 2em rgba(255, 100, 100, 0.67));
}

@keyframes beat {
    to {
        transform: scale(1.2);
    }
}

.logo:hover {
    filter: drop-shadow(0 0 2em rgba(255, 100, 100, 0.67));
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.yes_button {
    padding: 1rem 3rem;
    margin: 1rem;
    background-color: #fc4f4f;
    font-weight: bold;
    color: white;
}

.no_button {
    padding: 1rem 3rem;
    margin: 1rem;
    font-weight: bold;
}

.goldenek {
    height: auto;
    width: 50%;
    margin: auto;
}

.layout {
    display: flex;
    flex-direction: column;
}

input {
    margin: 1rem;
    padding: 1rem;
}

.radio {
    display: none;
}

.fotka {
    width: 8rem;
    height: auto;
    border-radius: 100px;
    /*margin: auto;*/
}

.cover {
    cursor: pointer;
    margin: auto;
    align-content: center;
    text-align: center;
}

.radio:checked + label .fotka {
    box-shadow: 0 0 0 0.5rem rgba(255, 100, 100, 1); /* Adjust the color as needed */
}

.horizontal_layout {
    display: flex;
}

.margin {
    margin: 1rem;
}

.szeroki-input {
    width: 20rem;
    margin: auto;
}

.slider {
    width: 20rem;
    margin: auto;
    padding: 0;
}

.next-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}